
body {
	background: #7ec850;
	height: 100%;
	width:100%;
}

.box {
	position: relative;
	margin: auto;
	display: block;

	margin-top: 8%;
	width: 600px;
	height: 420px;
}

.head {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 59%;
	height: 67%;
	background: #A05926;
	border-radius: 50%;
}

.head-copy {
	width: 100%;
	height: 100%;
	position: absolute;
	background:  #A05926;
	border-radius: 50%;
	z-index: 2;
}

.ear-left {
	position: absolute;
	width: 25%;
	height: 25%;
	left: 0%;
	top: 5%;
	background:  #A05926;
	border-radius : 50%;
	z-index: 1;
}

.ear-right {
	position: absolute;
  width: 25%;
  height: 25%;
  right: 0%;
  top: 5%;
  background: #A05926;
  border-radius: 50%;
  z-index: 1;	
}

.inner-right-ear{
	position: absolute;
	border-radius: 50%;
	width: 60%;
	height: 60%;
	top: 25%;
	right: 25%;
	background: #cc843b;
	
	
}

.inner-left-ear{
	position: absolute;
	border-radius: 50%;
	width: 60%;
	height: 60%;
	top: 25%;
	left: 25%;
	background: #cc843b;
}

.eye-left {
	position: absolute;
  background: white;
  width: 15%;
  height: 15%;
  top: 35%;
  left: 20%;
  border-radius: 50%;
  z-index: 3;
}

.eye-right{
  position: absolute;
  background: white;
  width: 15%;
  height: 15%;
  top: 35%;
  right: 20%;
  border-radius: 50%;
  z-index: 2;
}

.pupil{
  position: absolute;
  width: 80%;
  height: 79%;
  top: 21%;
  left: 15%;
  border-radius: 50%;
  background: #222;

}

.nose{
  position: absolute;
  background: #cc843b;
  width: 30%;
  height: 35%;
  left: 36%;
  top: 50%;
  border-radius: 50px;
  z-index: 4;
}

.inner-nose{
  position: absolute;
  width: 40%;
  height: 30%;
  top: 20%;
  left: 30%;
  border-radius: 50%;
  background: #222;

}


.mouth {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 0;
  right: 0;
  height: 50px;
  width: 70px;
  margin: 0 auto;
  border-bottom: 8px solid #222;
  border-radius: 100%;
}