body {
  background: #98b4d4;
  height: 100%;
  width: 100%;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 50px;
  width: 600px;
  height: 600px;
	perspective: 500px;
}
.top {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 50%;
  background: #6c726e;
  background: linear-gradient(0deg, rgba(71,66,73,1) 0%, rgba(128,128,128,1) 100%);
  box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.3), 0 15px 6px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  transform-style: preserve-3d;
  transform: rotate3d(-10,0,0,10deg);
}
.bottom {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 50%;
  bottom: 1%;
  background: #6c726e;
  background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(71,66,73,1) 100%);
  box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.3), 0 15px 6px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  transform-style: preserve-3d;
  transform: rotate3d(-10,0,0,-10deg);
}

.screen {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  border-radius: 10px;
  background: black;
}
.screen-content {
  position: absolute;
  top: 8%;
  left: 3%;
  width: 94%;
  height: 80%;
  background: white;
}
img {
    max-width: 100%;
}

.power {
  position: absolute;
  top: 3%;
  left: 4%;
  width: 8%;
  height: 4%;
  border-radius: 4px;
  background: transparent;
  border: 2px solid #383838;
}
.power::before {
  content: '';
  position: absolute;
  top: 1%;
  right: 20%;
  width: 1px;
  height: 50%;
  border-radius: 2px;
  background: #d3d3d3;
  z-index: 2;
}
.power::after {
  content: '';
  position: absolute;
  top: 15%;
  right: 9%;
  width: 15%;
  height: 40%;
  border-radius: 100%;
  background: transparent;
  border: 2px solid #d3d3d3;
}
.touchpad {
  position: absolute;
  bottom: 5%;
  left: 25%;
  width: 40%;
  height: 30%;
  border-radius: 10px;
  background: grey;
  border: 2px solid #383838;
}
.keyboard {
  position: absolute;
  height: 140px;
  width: 430px;
  left: 5%;
  top: 11%;
  background: grey;
}
.row {
  position: absolute;
  height: 20px;
  width: 430px;
  background: grey;
  display: inline-flex;
  align-items: center;
}
.row.two {
  top: 12%;
  height: 28px;
}
.row.three {
  top: 30%;
  height: 28px;
}
.row.four {
  top: 48%;
  height: 28px;
}
.row.five {
  top: 66%;
  height: 28px;
}
.row.six {
  top: 84%;
  height: 28px;
}
.key {
  margin: 3px;
  height: 21px;
  width: 23px;
  background: black;
  position: relative;
  border-radius: 4px;
}
.key.half {
  height: 11px;
}
.key.halfw {
  width: 13px;
}
.key.double {
  width: 40px;
}
.key.triple {
  width: 60px;
}
.key.oneh {
  width: 30px;
}
.key.space {
  width: 180px;
}