body {
  background: #0a4e35;
  height: 100%;
  width: 100%;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 400px;
  height: 400px;
}

.body {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 20%;
  background: black;
  border-radius: 100%;
}
.belly {
  position: absolute;
  height: 80%;
  width: 80%;
  left: 10%;
  bottom: -5%;
  background: white;
  border-radius: 100%;
}
.upper-body {
  position: absolute;
  height: 60%;
  width: 40%;
  top: 35%;
  left: 30%;
  background: black;
  border-radius: 0%;
}
.upper-body::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 90%;
  top: 8%;
  left: 20%;
  background: black;
  border-radius: 40% 30% 40% 0%;
  transform-origin: top;
  transform: rotate(-10deg);
}
.upper-body::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 90%;
  top: 8%;
  right: 20%;
  background: black;
  border-radius: 30% 0% 0% 40%;
  transform-origin: top;
  transform: rotate(10deg);
}
.belly {
  position: absolute;
  height: 80%;
  width: 80%;
  left: 10%;
  bottom: -5%;
  background: white;
  border-radius: 100%;
}

.belly::after {
  content: '';
  position: absolute;
  height: 130%;
  width: 50%;
  top: -48%;
  left: 35%;
  background: white;
  border-radius: 0% 30% 40% 0%;
  transform-origin: top;
  transform: rotate(-10deg);
}
.belly::before {
  content: '';
  position: absolute;
  height: 130%;
  width: 50%;
  top: -48%;
  right: 35%;
  background: white;
  border-radius: 30% 0% 0% 40%;
  transform-origin: top;
  transform: rotate(10deg);
}
.arm {
  position: absolute;
  height: 30%;
  width: 50%;
  top: 31%;
  left: -15%;
  background: black;
  border-radius: 100%;
  z-index: -1;
}
.arm::after {
  content: '';
  position: absolute;
  top: 35%;
  left: -20%;
  height: 80%;
  width: 100%;
  background: #0a4e35;
  border-radius: 100%;
  transform: rotate(10deg);
}
.arm.r {
  left: 65%;
}
.arm.r::after {
  left: 22%;
  transform: rotate(-10deg);
}

.leg {
  position: absolute;
  height: 15%;
  width: 15%;
  bottom: -22%;
  left: 30%;
  background: #ff921d;
  border-radius: 100%;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 37%, 50% 55%, 28% 36%, 0 50%);
}
.leg.r {
  left: 55%;
}
.head {
  position: absolute;
  height: 52%;
  width: 52%;
  top: -5%;
  left: 24%;
  background: black;
  border-radius: 100%;
}
.face {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 15%;
  left: 10%;
  background: white;
  border-radius: 100%;
  clip-path: polygon(50% 50%, 100% 25%, 100% 100%, 0 100%, 0 25%);
  z-index: 2;
}
.eye {
  position: absolute;
  height: 38%;
  width: 38%;
  top: 26%;
  left: 12%;
  background: white;
  border-radius: 100%;
}
.eye::after {
  content: '';
  position: absolute;
  height: 26%;
  width: 26%;
  top: 25%;
  left: 35%;
  background: black;
  border-radius: 100%;
  z-index: 3;
}
.eye.r {
  left: 51%;
}
.beak {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 44%;
  left: 38%;
  background: #ff921d;
  border-radius: 100%;
  clip-path: polygon(50% 0%, 100% 38%, 60% 100%, 40% 100%, 0% 38%);
  z-index: 3;
}
.beak::after {
  content: '';
  position: absolute;
  top: 20%;
  width: 100%;
  height: 25%;
  background: transparent;
  border-radius: 100%;
  border-bottom: 1px solid black;
}